@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    
    --primary-coral: #ed503f;
    --accent-lime: #B6BE9C;
    --accent-blue: #7B9E87;
    --off-white: #D2D0BA;
    --deep-navy: #5E747F;

    
    --bg-color: #212738;
    --text-main: #ffffff;
    --text-muted: #d5e3fd;
    --card-bg: #2b3245; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    color: var(--accent-blue);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--accent-lime);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--deep-navy);
}
::-webkit-scrollbar-thumb {
    background: var(--accent-blue);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-lime);
}